body{
      overflow:hidden;
      margin:0;
      background-color: black;
      color:white;
      font-family: "Montserrat", serif;
      font-optical-sizing: auto;
      font-weight: weight;
      font-style: normal;  
}

.main{
     display:flex;
     height:100vh; 
     padding:0.5rem;
}

.sidebar{
    background-color:black;
    width:340px;
    border-radius: 1rem;
    color:white;
    margin-right:0.5rem;
}

.main-content{
    background-color: #121212;
    flex:1;
    overflow:auto;
    border-radius: 40px;
    color:white;
}

.music-player{
    background-color:black;
    position:fixed;
    bottom:0;
    width:100%;
    height:72px;
    color:white;
}
a{
    text-decoration:none;
    color:white;
}

.nav{
    background-color:#121212;
    border-radius:1rem;
    display:flex;
    flex-direction:column;
    justify-content:center;
    height:100px;
    padding: 0.5rem 0.75rem;
}

.nav-option{
    line-height:2.5rem;
    opacity:0.7;
    padding:0.5rem 0.75rem;
}
.nav-option:hover{
    opacity:1;
}

.nav-option i{
    font-size:1.5rem;
}

.nav-option a{
    font-size:1rem;
    margin-left:15px;
}

.options{
    display:flex;
}

.options i{
    font-size:1.5rem;
}
.icons{
    display:flex;
}

.icons i{
    font-size:1.25rem;
    
    margin-right:0.5rem;
    padding: 0.1rem;
    opacity:0.7;
}
.icons i:hover{
    opacity:1;
    transform:scale(1.5);
}

.options {
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.library{
    background-color:#121212;
    height:100%;
    border-radius:1rem;
    margin-top:0.5rem;
    padding:0.5rem 0.75rem;
}

.box{
    background-color:#1d1c1c;
    border-radius:1rem;
    padding:0.8rem;
}
.badge{
    border-radius:100rem;
    font-size:0.7rem;
    height:2rem ;
    border:none;
    font-weight:700;
    margin-top:0.5rem;
    padding:0.5rem 0.75rem;
}
.paraB{
    font-size:0.7rem;
    opacity:0.8;
}
.paraA{
    font-weight: 500;
}
.lib-box .box{
    margin-top:1rem;
}
.sticky-nav{
    display :flex;
    position:sticky;
    top:0;
    background-color:black;
    justify-content:space-between;
    align-items:center;
    height: 70px;
    z-index: 10;
    
}
.sticky-nav-icons i{
    padding-left:0.5rem;
}
.sticky-nav-options {
    display:flex;
    justify-content: center;
    align-items:center;
    margin-right:10px;
}
.sticky-nav-options button,i{
    margin-right: 15px;
}
.dark{
    background-color:rgb(19, 17, 17);
    color:beige;
}
.dark i{ 
    margin-right:0;
}
@media (max-width:1000px){
    .hide{
        display:none;
    }

}
.card-containerA{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
}
.card-containerB{
    display:flex;
    flex-wrap:wrap;
    
}
.card-containerC{
    display:flex;
    flex-wrap:wrap;
    
}
.card{
    width:160px;
    height:260px;
    background-color:#232020;
    border-radius:0.7rem;
    display:flex;
    flex-direction:column;

    margin-left:2rem;
    margin-top:1rem;
}
.heading{
    margin-left:1.4rem;
}
.card img{
    width:85%;
    border-radius:0.7rem;
    margin:10px;
    margin-bottom:0px;
}
.content{
    margin-left:10px;
}
.opacity{
    font-size:0.7rem ;
    opacity:0.9;
    margin-right:10px;
}
.footer{
    height:300px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.line{
    width:90%;
    height:50%;
    border-top:1px solid white;
    opacity:0.4;
    
}
.music-player{
    display:flex;
    justify-content:space-around;
    align-items: center;
    
    
}
.player{
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    width: 500px;
   
    
}
.player-control .ic{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left:5px ;
    margin-right: 5px;
    
    font-size:1rem;
    
    

}
.player-control .ix{
    font-size:2rem;
}
.progress-bar{
    
    width:100% ;
    

}
.player-control{
    
    
    width:100% ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress-bar  {
    display: flex;
    justify-content:space-between;
    
}
.progress-bar div .progress{
    width: 375px;
    height: 100%;
}
.progress-bar div{
    margin-left:4px ;
    margin-right:4px ;
}
.music-player .album {
    margin-left: -1.5rem;
    position: relative;
    
    width: 300px;
    
    display:flex;
    
    align-items: center;
    
}
.headings,.headingss{
    line-height: 0.5rem;
    margin:8px;
}
.headingss{
font-size:12px;
opacity: 0.8;
}

    

.daylight img{
    width:60px;
    height:60px;
    margin:0.4rem;
    margin-top:0.4rem;
    margin-bottom:0.4rem;
    
    Border-radius:0.4rem;
}
.heart{
    font-size: 10px;
}
 .chromecast i          {
    font-size: 20px;
    margin-left:15px;
 }
 .right-div{
    display: flex;
    font-size: 20px;
 }
 .controls i{
        opacity:0.7;
        font-size: 20px;
    }
    .album i{
        opacity:0.7;
    }
    .controls i:hover{
        opacity:1;
        transform:scale(1.2) !important;
    } 
     .album i:hover{
        opacity:1;
        transform:scale(1.2) !important;
     }

     .album .heart i{
        font-size:20px;
        margin-left: 5px;
     }
     .progress{
        appearance: none;
        background-color: transparent;
        cursor:pointer;

     }
     .volume{
        
        cursor:pointer;

     }
     .progress::-webkit-slider-runnable-track{
        background-color: #ddd;
        border-radius:100px;
        height:0.2rem;
     }
     .progress::-webkit-slider-thumb{
        appearance: none;
        height:1rem;
        width:1rem;
        background-color:#1bd760;
        border-radius:50%;
        margin-top: -6px;
     }
     .progress::-webkit-slider-runnable-track:hover{
        background-color:#1bd760;
     }
     .progress::-webkit-slider-thumb:hover{
        background-color:#ddd;
     }
     .volume::-webkit-slider-runnable-track{
        background-color: #1bd760;
        border-radius:100px;
        height:0.2rem;
     }
     .volume::-webkit-slider-thumb{
        appearance: none;
        height:1rem;
        width:1rem;
        background-color:#ddd;
        border-radius:50%;
        margin-top: -6px;
        
     }
     .volume::-webkit-slider-runnable-track:hover{
        background-color:#ddd;
     }
     .volume::-webkit-slider-thumb:hover{
        background-color:#1bd760;
        
     }
     .player-control .ic i{
        opacity: 0.9;
        transform: scale(1);
     }

     .player-control .ic i:hover{
        opacity: 1;
        transform: scale(1.1);
     }
     .controls .right-div  div i:hover{
        color: #1bd760;
     }
     .badge:hover{
        transform:scale(1.08);



     }
     